@import '~antd/dist/antd.css';

.layout-header {
  position: "fixed";
  z-index: 1;
  width: "100%";
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #001529 !important;
}

.ant-menu-dark.ant-menu-horizontal > ant-menu-item:hover {
  background-color: #001529 !important; 
}